@import './_shared';

@mixin ultra-widescreen() {
    @media screen and (min-width: $ultra-widescreen) {
        @content
    }
}

@mixin rounded($radius: 3px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
